@font-face {
    font-family: 'Averta CY';
    src: url('AvertaCY-Light.ttf') format('truetype');
    /* Light version */
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Averta CY';
    src: url('AvertaCY-Regular.ttf') format('truetype');
    /* Regular version */
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Averta CY';
    src: url('AvertaCY-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Averta CY";
}

*::selection {
    color: white;
    background-color: black;
    display: none;
}

#cursor {
    opacity: 1;
    transition: opacity 0.3s ease;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: black;
    position: fixed;
    z-index: 9;
    overflow: hidden;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

#main {
    width: 100%;
    background-color: white;
}

#home {
    width: 100%;
    min-height: 100vh;

}

#nav {
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav img {
    height: 70px;
}

#right {
    display: flex;
    gap: 25px;
    text-decoration: none;
    align-items: center;
}

#nav a {
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 3vh;
}

i {
    padding: 5px;
    margin-right: 10px;
    font-size: 1.5vw;
    border-radius: 5px;
    cursor:pointer;
}


#home #hero {
    width: 100%;
    padding: 5vw 13vh;
    margin-left: 19vh;
    position: relative
}

#hero .inner-hero {
    display: flex;
    gap: 45px;

}

#hero .inner-hero p {
    transition: all 0.5s;
    color: transparent;
    -webkit-text-stroke: black 1.4px;
    line-height: 14vh;
    font-size: 15vh;
    font-weight: 900;
    letter-spacing: -6px;
    cursor: default;
}


#hero h1 {
    letter-spacing: -2px;
    font-weight: 400;
}

#home #home-last p {
    margin-left: 19vh;
    font-size: 4.5vh;
    font-weight: 400;
    width: 100%;
    padding: 13vw 13vh;
    letter-spacing: -2px;
    width: 65%;
}



#featured {
    padding: 6vw 13vh;
    margin-left: 19vh;

}

#fheading h1 {
    font-size: 8vh;
    line-height: 1;
    font-weight: 400;
}

#fheading>:nth-child(2) {
    color: transparent;
    -webkit-text-stroke: black 1px;

}

#fimages {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    padding: 0vw 15vw;
}

#fleft {
    width: 45%;
    height: inherit;
    overflow: hidden;
}

#fright {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 45%;
    height: inherit;


}

#fright .images {
    width: 90%;
    height: 90%;
    overflow: hidden;
}

.images image {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.fleftelm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: inherit;
    width: 100%;
}

.fleftelm h4 {
    text-transform: capitalize;
    font-size: 1.9vw;
    font-weight: 400;
    letter-spacing: -0.1vw;

}

.fleftelm h1 {
    text-transform: capitalize;
    font-size: 2.7vw;
    font-weight: 400;
    line-height: 1.1;
    margin: 1.1vw 0;
    letter-spacing: -0.1vw;
}

.fleftelm h3 {
    text-transform: capitalize;
    font-size: 1.3vw;
    font-weight: 500;
    letter-spacing: 0;
}

.btn {

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3vw;
}

.btn button {

    font-size: 1vw;
    font-weight: 700;
    width: 200px;
    height: 50px;
    padding: 2vh;
    border: 2px rgb(193, 190, 190) solid;
    border-radius: 100px;
    line-height: 1;
    letter-spacing: -0.1vh;
    background-color: white;
    cursor: pointer;

}

.dev-sec {
    margin-top: 5vw;
    padding: 8vw 13vh;
    margin-left: 19vh;
    width: 50%;
    height: inherit;

}

.dev-sec h1 {
    font-size: 4vw;
    font-weight: 400;
    line-height: 0.9;
    letter-spacing: -0.5vh;
}

.dev-sec p {
    margin-top: 60px;
    font-size: 1.3vw;
    font-weight: 500;
    letter-spacing: 0;
}

#slides {
    padding: 3vw 13vh;
    display: flex;
    justify-content: space-between;
}

#slides #slide {
    width: 30%;
}

#slide .image {
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
}

#slide .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#slide .tag {
    width: fit-content;
    margin: 15px 0;
    padding: 10px 10px;
    background-color: #e7e6e6;
    border-radius: 100px;
    cursor: pointer;
}

#slide .h {
    font-size: 1.4vw;
    font-weight: 550;
    letter-spacing: -1px;
}

.move-vid {
    margin: 10px;
}

#overlay1 {
    background-color: transparent;
    height: 120px;
    width: 430px;
    position: absolute;
    z-index: 10;
}

#overlay2 {
    background-color: transparent;
    height: 120px;
    width: 250px;
    position: absolute;
    z-index: 10;
    left: 520px;
}

#overlay3 {
    background-color: transparent;
    height: 120px;
    width: 430px;
    position: absolute;
    z-index: 10;
    left: 770px;
}

.magnet {
    transition: transform 0.15s linear;
}

/* The space class is just to provide space after the last button */
.space {
    margin-bottom: 3vw;
}

.blackButton {
    transition: background-color 0.5s ease, color 0.5s ease;
}

.typingCursor {
    display: inline-block;
    width: 2px;
    height: 0.9em;
    background-color: black;
    animation: blink 0.7s steps(1) infinite;
    vertical-align: bottom;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}


#sidebar {
    height: 100%;
    width: 23%;
    position: absolute;
    background-color: white;
    top: 0;
    right: -23%;
    z-index: 13;
    padding: 80px 0;
    
}

#sidebar h4 {
    padding: 0.8vw 1vw;
    font-size: 3vw;
    font-weight: 400;
    width: 100%;
    letter-spacing: -0.2vh;
    cursor:pointer;
    border-radius: 10px;
    
}


#sidebar i {
    position: absolute;
    top: 3%;
    right: 3%;
    font-size: 2vw;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.cover{
    width:100%;
    height: 100%;
    position:absolute;
    top:0;
    left:0;
    background-color: rgba(255, 255, 255, 0.386);
    backdrop-filter: blur(7px);
    z-index:12;
    
    
}

